@charset "UTF-8";

:root{
    --cinza:#c0cbd6;
    --ciano:#36bbbd;
    --azul:#002333;
    --verde:#DEEFE7;
    --branco:#FFFFFF;
}

/* Configurações do Álbum*/

ul#album{
    width: 700pt;
    margin: 0 auto;
    padding: 50pt ;
    overflow: hidden;
    list-style: none;
    left: auto;
}

ul#album li{
    float: left;
    width: 200pt;
    height: 200pt;
    margin: 10pt;
    border: 5pt solid var(--azul);
    background-color: var(--branco);
   transition: all 0.5s ease-in;
}

ul#album li#foto01{
    background: url(album01.jfif) no-repeat;
    background-position: 50% 50% ;
    background-size: 500px 500px;
    background-color: white ;
}
ul#album li#foto01:hover{
    background-size: 300px 300px;
}
ul#album li#foto02{
    background: url(album02.jfif) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color: white;
}
ul#album li#foto02:hover{
    background-size: 300px 300px;
}
ul#album li#foto03{
    background: url(album03.jfif) no-repeat;
    background-position:50% 50% ;
    background-size: 500px 500px;
    background-color: white;
}
ul#album li#foto03:hover{
    background-size: 300px 300px;
}
ul#album li#foto04{
    background: url(album04.jfif) no-repeat;
    background-position:50% 50% ;
    background-size: 500px 500px;
    background-color: white;
}
ul#album li#foto04:hover{
    background-size: 300px 300px;
}
ul#album li#foto05{
    background: url(album05.jfif) no-repeat;
    background-position:50% 50% ;
    background-size: 500px 500px;
    background-color: white;
}
ul#album li#foto05:hover{
    background-size: 300px 300px;
}
ul#album li#foto06{
    background: url(album06.jfif) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color: white;
}
ul#album li#foto06:hover{
    background-size: 300px 300px;
}
ul#album li#foto07{
    background: url(album07.jfif) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color: white;
}
ul#album li#foto07:hover{
    background-size: 300px 300px;
}
ul#album li#foto08{
    background: url(album08.jfif) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color: white;
}
ul#album li#foto08:hover{
    background-size: 300px 300px;
}
ul#album li#foto09{
    background: url(album09.jfif) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color: white;
}
ul#album li#foto09:hover{
    background-size: 300px 300px;
}
ul#album li#foto10{
    background: url(album10.jfif) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color: white;
}
ul#album li#foto10:hover{
    background-size: 300px 300px;
}
ul#album li#foto11{
    background: url(album11.jfif) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color: white;
}
ul#album li#foto11:hover{
    background-size: 300px 300px;
}
ul#album li#foto12{
    background: url(album12.jfif) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color: white;
}
ul#album li#foto12:hover{
    background-size: 300px 300px;
}
ul#album li#foto13{
    background: url(album13.jfif) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color: white;
}
ul#album li#foto13:hover{
    background-size: 300px 300px;
}
ul#album li#foto14{
    background: url(album14.jfif) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color: white;
}
ul#album li#foto14:hover{
    background-size: 300px 300px;
}
ul#album li#foto15{
    background: url(album15.jfif) no-repeat;
    background-position: 50% 50%;
    background-size: 500px 500px;
    background-color: white;
}
ul#album li#foto15:hover{
    background-size: 300px 300px;
}


ul#album li span{
    color: white;
    text-shadow: 1px 1px 1px #000000 ;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.326);
    font-size: 9pt;
    line-height: 370pt;
    padding: 5pt;
}

ul#album li:hover span{
    opacity: 1;
}

ul#album li:hover{
    -webkit-transform:scale(1.5);

}

    @media only screen and (max-width: 600px) {

        ul#album{
            position:relative;
            max-width: 450px;
            min-width: 200px;
            left: -30px;
            overflow-x:hidden;

        }
        
        ul#album li{
            width: 150pt;
            height:150pt;
            margin: 8pt;
        }
        ul#album li span{
            font-size: smaller;
            line-height: 280pt;
            padding: 3pt;
        }
       
        ul#album li#foto01:hover{
            background-size: 100% 100%;
        }
        
        ul#album li#foto02:hover{
            background-size: 100% 100%;
        }
       
        ul#album li#foto03:hover{
            background-size: 100% 100%;
        }
       
        ul#album li#foto04:hover{
            background-size: 100% 100%
        }
        
        ul#album li#foto05:hover{
            background-size: 100% 100%;
        }
       
        ul#album li#foto06:hover{
            background-size: 100% 100%;
        }
        ul#album li#foto07:hover{
            background-size: 100% 100%;
        }
        ul#album li#foto08:hover{
            background-size: 100% 100%;
        }
        ul#album li#foto09:hover{
            background-size: 100% 100%;
        }
        ul#album li#foto10:hover{
            background-size: 100% 100%;
        }
        ul#album li#foto11:hover{
            background-size: 100% 100%;
        }
        ul#album li#foto12:hover{
            background-size: 100% 100%;
        }
        ul#album li#foto13:hover{
            background-size: 100% 100%;
        }
        ul#album li#foto14:hover{
            background-size: 100% 100%;
        }
        ul#album li#foto15:hover{
            background-size: 100% 100%;
        }

        ul#album li:hover{
            -webkit-transform:scale(1.3);
        
        }
    }